.pagamento{
    position: absolut;
    width: 100%;
    height: 100%;
}

.pagamento .container{
    max-width: 457px;
    min-height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25px 80px 1fr minmax(-webkit-min-content, auto) 75px;
	grid-template-rows: 25px 80px 1fr minmax(min-content, auto) 75px
}

.titulo{
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.titulo-plano{
    font-weight: bold;
    font-size: 22px;
}

.card{
    box-shadow: 3px 6px 0 rgba(0,0,0,.16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    border-radius: 0.35rem;
    border: 3px solid #ffff;
    cursor: pointer;
}

.active {
    border: 3px solid #1826e6;
}

.itens{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 21px;
}

.oferta{
    font-size: 10px;
    margin-left: 70px;
}
.oferta-desconto{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-left: 10px;
    color:#1826e6;
    font-weight: bold;
}

#valorParcelas {
    border: none;
    border-bottom: 1px solid #dddd;
    border-radius: 0px;
}

#valorParcelas:focus{
    border-bottom: 1px solid #1826e6;
}

#nome,#nomeTitular{
    text-transform: capitalize;
}

input:focus{
    border-bottom: 1px solid #1826e6 !important; 
}
select{
    padding-top: 3px;
    padding-bottom: 3px;
}

select:focus {
    border: none;
}
.form-group {
    margin-bottom: 2rem;
}

.form-control {
    border: none;
    border-bottom: 1px solid #cacaca;
    border-radius: 0px;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    color: #000000 !important;
    }
    
.form-control:focus{
    box-shadow: none;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

.btn{
    box-shadow: 10px 6px 0 rgba(0,123,255,.16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,123,255,.16);
}
.btn-primary{
    border-radius: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.btn-lg{
    padding: 15px 40px;
}

#voltar{
    color: #1826e6;
}

.label{
    font-size: 15px;
    font-weight: 600;
    color: #cfcfcf;
}

.btn-padding{
    padding-top: 110px;
    padding-bottom: 70px;
}

.error,.error:focus{
    color: red !important;
    border-bottom: 1px solid red !important;
    border-radius: 0px;
}